/* Reset
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
	box-sizing: border-box;			/* Réinitialise le modèle de boite pour tout le document */
}

body {
	margin: 0;						/* Supprime les marges par défaut du navigateur sur le body */
	padding: 0;						/* Supprime les marges par défaut du navigateur sur le body */
}

/* Background
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.page__background {      /* Donne un style à .page__background */
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;					/* Permet de faire passer l'élément en arrière plan */
	width: 100vw;
	height: 100vh;
}

.page__background img { /* Permet de cibler plus précisément l'image qui se trouve dans .page__background */
	width: 100%;					/* La largeur de l'image remplit 100% de son parent */
	height: 100%;					/* La hauteur de l'image remplit 100% de son parent */
	image-rendering: -webkit-optimize-contrast;
}

/* Image d'entête
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page__content {
	width: 1080px;
	padding-top: 3090px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.7);
	margin-bottom: 400px;
}

#entête {
  position: absolute;
width: 982px;
height: 310px;
left: calc(50% - 982px/2 - 7px);
top: 36px;
image-rendering: -webkit-optimize-contrast;
}

/* Home menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.home__menu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#e141_11 {
	position: absolute;
	top: 49px;
	left: calc(50% - 854px/2 - 29px);
	width: 854px;
	height: 120px;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	position: relative font-family:Abhaya Libre;
	float: left;
	color: black;
	text-align: center;
	letter-spacing: 0;
	font-size: 24px;
	line-height: 35px;
}

nav > ul li:hover .sous {
	display: block;
	max-height: 13rem;
	transition: all .6s ease-out;
	transition-delay: 0; /* Pas de délai à l'ouverture du menu */
	z-index: 1000;

}

nav ul::after {
	display: table;
	clear: both;
	content: "";
}

nav a {
	display: inline-block;
	padding: 10px 20px;
	border-bottom: 2px solid transparent;
	color: white;
	text-decoration: none;
}

nav a:hover {
	border-bottom: 2px solid gold;
	color: orange;
}

.sous {
	position: absolute;
	overflow: hidden;
	max-height: 0;
	padding: 0;
	border-radius: 0 0 8px 8px;
	background-color: white;
	box-shadow: 0 1px 2px #ccc;
	transition: all .6s ease-out;
	transition-delay: 0s; /* Délai avant refermeture du menu */
}

.sous li {
	float: none;
	width: 100%;
	text-align: left;
}

.sous a {
	padding: 10px;
	border-bottom: none;
	color: black;
	white-space: nowrap;
	margin: 0 15px;
}

.sous a:hover {
	border-bottom: none;
	background-color: #8ecaec;
}

.deroulant>a::after {
	color: #64bced;
	content: " ▼";
	font-size: 12px;
}

.rectangle {
	border: 1px solid #fff;
	background: rgba(0, 0, 0, .7);
	margin: 0 25px 25px 25px;
}

.rectangle:hover {
	background: #5cd549;
}

.rectangle--active {
	background: rgba(8, 33, 123, .7);
}

#intro {
  position: absolute;
width: 1010px;
height: 131px;
left: calc(50% - 950px/2 - 5px);
top: 330px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}

#titresynopsis {
  position: absolute;
width: 95px;
height: 28px;
left: calc(50% - 95px/2 - 431px);
top: 460px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
text-decoration-line: underline;
color: #FFFFFF;
}
#synopsis {
  position: absolute;
width: 1031px;
height: 248px;
left: calc(50% - 950px/2 - 5px);
top: 530px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}

#titrebandeannonce {
  position: absolute;
width: 200px;
height: 28px;
left: calc(50% - 95px/2 - 436px);
top: 730px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
text-decoration-line: underline;
color: #FFFFFF;
}
#lesbandesannonces {
	position: absolute;
  top: 820px;
  left: calc(50% - 950px/2 - 5px);
}

#titrerésumé {
  position: absolute;
width: 85px;
height: 28px;
left: calc(50% - 95px/2 - 431px);
top: 1490px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
text-decoration-line: underline;
color: #FFFFFF;
}
#lefilm {
  position: absolute;
width: 1031px;
height: 248px;
left: calc(50% - 950px/2 - 5px);
top: 1580px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}
#lesrésumés {
	position: absolute;
  top: 1640px;
  left: calc(50% - 950px/2 - 5px);
}

#titredoublage {
  position: absolute;
width: 85px;
height: 28px;
left: calc(50% - 95px/2 - 431px);
top: 2310px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
text-decoration-line: underline;
color: #FFFFFF;
}
#doublage {
  position: absolute;
width: 1021px;
height: 681px;
left: calc(50% - 950px/2 - 5px);
top: 2380px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}
