/* Reset
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
	box-sizing: border-box;			/* Réinitialise le modèle de boite pour tout le document */
}

body {
	margin: 0;						/* Supprime les marges par défaut du navigateur sur le body */
	padding: 0;						/* Supprime les marges par défaut du navigateur sur le body */
}

/* Background
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page__background {					/* Donne un style à .page__background */

	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -1;					/* Permet de faire passer l'élément en arrière plan */
}

.page__background img {				/* Permet de cibler plus précisément l'image qui se trouve dans .page__background */
	width: 100%;					/* La largeur de l'image remplit 100% de son parent */
	height: 100%;					/* La hauteur de l'image remplit 100% de son parent */
}

/* Image d'entête
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page__content {
	width: 1080px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.page__content img {
	width: 1080px;
	height: 808px;
}

/* Home menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.home__menu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#e141_11 {
	position: absolute;
	width: 854px;
	height: 120px;
	left: calc(50% - 854px/2 - 29px);
	top: 49px;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	float: left;
	width: 25%;
	line-height: 35px;
	text-align: center;
	position: relative font-family:Abhaya Libre;
	font-size: 24px;
	letter-spacing: 0;
}

nav ul::after {
	content: "";
	display: table;
	clear: both;
}

nav a {
	display: block;
	text-decoration: none;
	color: black;
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
}

nav a:hover {
	color: orange;
	border-bottom: 2px solid gold;
}

.sous {
	max-height:0;
	box-shadow: 0px 1px 2px #CCC;
	background-color: white;
	position: absolute;
	padding: 0;
	overflow: hidden;
	transition: all .6s ease-out;
	transition-delay: 0s; /* Délai avant refermeture du menu */
	border-radius: 0 0 8px 8px;
}

nav>ul li:hover .sous {
	display: block;
	max-height: 13em;
	transition: all .6s ease-out;
	transition-delay: 0; /* Pas de délai à l'ouverture du menu */
	z-index: 1000;
}

.sous li {
	float: none;
	width: 100%;
	text-align: left;
}

.sous a {
	padding: 10px;
	border-bottom: none;
	color: black;
	white-space: nowrap;
	margin: 0 15px;
}

.sous a:hover {
	border-bottom: none;
	background-color: #8ECAEC;
}

.deroulant>a::after {
	content: " ▼";
	font-size: 12px;
	color: #64BCED;
}

#Rectangle {
	position: absolute;
	background-color: rgba(231, 227, 227, 0.7);
	opacity: 1;
	width: 976px;
	height: 191px;
	left: calc(50% - 976px/2 + 4px);
	top: 16px;
}

#Parchemin {
	position: absolute;
	width: 795px;
	height: 498px;
	right: 142px;
	left: calc(50% - 795px/2 + 0.5px);
	top: 244px;
}

#Introduction {
	position: absolute;
	width: 676px;
	height: 248px;
	left: calc(50% - 676px/2 - 6px);
	top: 389px;
	font-family: Roboto;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
}

#lignemenu {
	position: absolute;
	width: 50px;
	height: 0px;
	left: calc(50% - 53.01px/2 - 310.5px);
	top: 115px;
	border: 1px solid #000000
}

#Fond {
	position: absolute;
	width: 1080px;
	height: 3590px;
	left: calc(50% - 1080px/2);
	top: 808px;
	background: #3F3D3D;
}

#Noir {
	position: absolute;
	background: #000000;
	width: 622px;
	height: 466px;
	top: 854px;
	left: calc(50% - 622px/2 - 5px);
}

#Blanc1 {
	width: 255px;
	height: 356px;
	background: #FFFFFF;
	position: absolute;
	top: 933px;
	left: calc(50% - 255px/2 - 167.5px);
}

#Blanc2 {
	background: #FFFFFF;
	position: absolute;
	width: 255px;
	height: 356px;
	left: calc(50% - 255px/2 + 159.5px);
	top: 933px
}

#série {
	position: absolute;
	width: 117px;
	height: 156px;
	left: calc(50% - 117px/2 - 167.5px);
	top: 949px;
	image-rendering: -webkit-optimize-contrast;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#série:hover {
	-webkit-transform: scale(1.6);
	transform: scale(1.6);
}

#livres {
	position: absolute;
	width: 128px;
	height: 114px;
	left: calc(50% - 128px/2 + 168px);
	top: 960px;
	image-rendering: -webkit-optimize-contrast;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#livres:hover {
	-webkit-transform: scale(1.6);
	transform: scale(1.6);
}

#universétendue {
	position: absolute;
	color: #FF0000;
	width: 538px;
	height: 42px;
	letter-spacing: 0;
	font-family: Roboto;
	font-style: italic;
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	left: calc(50% - 538px/2 - 16px);
	top: 866px
}

#titresérie {
	position: absolute;
	width: 183px;
	height: 92px;
	left: calc(50% - 183px/2 - 167.5px);
	top: 1147px;
	font-family: Roboto;
	font-style: italic;
	font-weight: normal;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
	color: #000000;
}

#titrelivres {
	position: absolute;
	width: 183px;
	height: 92px;
	left: calc(50% - 183px/2 + 166.5px);
	top: 1127px;
	font-family: Roboto;
	font-style: italic;
	font-weight: normal;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
	color: #000000;
}

#Carrénoir {
	position: absolute;
	background: #0B0A0A;
	width: 1005px;
	height: 2870px;
	top: 1511px;
	left: calc(50% - 1005px/2 - 4.5px);
}

#Carrécyan {
	position: absolute;
	width: 1005px;
	height: 70px;
	left: calc(50% - 1005px/2 - 4.5px);
	top: 1387px;
	background: #84ACB9;
}

#Jeux {
	position: absolute;
	width: 181px;
	height: 41px;
	left: calc(50% - 181px/2 - 4.5px);
	top: 1377px;
	font-family: HeadlandOne;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 45px;
	text-align: center;
	color: #FFFFFF;
}

#Préambule {
	position: absolute;
	width: 976px;
	height: 592px;
	top: 1510px;
	left: calc(50% - 976px/2 - 5px);
	font-family: Roboto;
	font-style: italic;
	font-weight: 900;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
}

#EnPologne {
	position: absolute;
	width: 976px;
	height: 592px;
	left: calc(50% - 976px/2 - 5px);
	top: 1580px;
	font-family: Abhaya Libre;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
}

#tw1cover {
	position: absolute;
	width: 161px;
	height: 232px;
	left: calc(50% - 161px/2 - 305.5px);
	top: 2150px;
	image-rendering: -webkit-optimize-contrast;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#tw1cover:hover {
	-webkit-transform: scale(1.6);
	transform: scale(1.6);
}
#tw2cover {
	position: absolute;
	width: 168px;
	height: 239px;
	left: calc(50% - 168px/2 + 12px);
	top: 2150px;
	image-rendering: -webkit-optimize-contrast;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#tw2cover:hover {
	-webkit-transform: scale(1.6);
	transform: scale(1.6);
}
#tw3cover {
	position: absolute;
	width: 165px;
	height: 240px;
	left: calc(50% - 165px/2 + 281.5px);
	top: 2150px;
	image-rendering: -webkit-optimize-contrast;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#tw3cover:hover {
	-webkit-transform: scale(1.6);
	transform: scale(1.6);
}

#TW1 {
	position: absolute;
	width: 160px;
	height: 262px;
	left: calc(50% - 160px/2 - 309px);
	top: 2415px;
	font-family: Risque;
	font-style: normal;
	font-weight: 400px;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	color: #FFFFFF;
}

#TW2 {
	position: absolute;
	width: 160px;
	height: 262px;
	left: calc(50% - 160px/2 + 3px);
	top: 2415px;
	font-family: Risque;
	font-style: normal;
	font-weight: 400px;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	color: #FFFFFF;
}

#TW3 {
	position: absolute;
	width: 160px;
	height: 262px;
	left: calc(50% - 160px/2 + 300px);
	top: 2418px;
	font-family: Risque;
	font-style: normal;
	font-weight: 400px;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	color: #FFFFFF;
}

#Lasuite {
	position: absolute;
	width: 976px;
	height: 706px;
	left: calc(50% - 976px/2 - 5px);
	top: 2530px;
	font-family: Abhaya Libre;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
}

#Gwent {
	width: 341px;
	height: 179px;
	left: calc(50% - 341px/2 - 252.5px);
	top: 3275px;
	image-rendering: -webkit-optimize-contrast;
}

#Thronebreaker {
	width: 359px;
	height: 179px;
	left: calc(50% - 359px/2 + 207.5px);
	top: 3275px;
	image-rendering: -webkit-optimize-contrast;
}

#Oncontinue {
	position: absolute;
	width: 976px;
	height: 204px;
	left: calc(50% - 976px/2 - 5px);
	top: 3474px;
	font-family: Abhaya Libre;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
}

#lesjeux {
	position: absolute;
	width: 976px;
	height: 204px;
	left: calc(50% - 976px/2 - 5px);
	top: 3520px;
	font-family: Abhaya Libre;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
}

#jeudeplateau {
	width: 109px;
	height: 147px;
	left: calc(50% - 109px/2 - 252.5px);
	top: 3716px;
	image-rendering: -webkit-optimize-contrast;
}

#adventure {
	width: 133px;
	height: 133px;
	left: calc(50% - 133px/2 + 0.5px);
	top: 3723px;
	image-rendering: -webkit-optimize-contrast;
}

#easymode {
	width: 100px;
	height: 129px;
	left: calc(50% - 100px/2 + 266px);
	top: 3725px;
	image-rendering: -webkit-optimize-contrast;
}

#Chiffres {
	position: absolute;
	width: 976px;
	height: 486px;
	left: calc(50% - 976px/2 - 5px);
	top: 3863px;
	font-family: Abhaya Libre;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
}

#stats {
	position: absolute;
	width: 976px;
	height: 486px;
	left: calc(50% - 976px/2 - 5px);
	top: 4110px;
	font-family: Abhaya Libre;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
}

#Ecoldedesorceleur {
	position: absolute;
	width: 976px;
	height: 486px;
	left: calc(50% - 976px/2 - 5px);
	top: 4305px;
	font-family: Abhaya Libre;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
}

.jeux_img {
	position: absolute;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	z-index: 0;
}
.jeux_img:hover {
	-webkit-transform: scale(1.6);
	transform: scale(1.6);
	z-index: 1;
}
