/* Reset
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
	box-sizing: border-box;			/* Réinitialise le modèle de boite pour tout le document */
}

body {
	margin: 0;						/* Supprime les marges par défaut du navigateur sur le body */
	padding: 0;						/* Supprime les marges par défaut du navigateur sur le body */
}

/* Background
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.page__background {      /* Donne un style à .page__background */
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;					/* Permet de faire passer l'élément en arrière plan */
	width: 100vw;
	height: 100vh;
}

.page__background img { /* Permet de cibler plus précisément l'image qui se trouve dans .page__background */
	width: 100%;					/* La largeur de l'image remplit 100% de son parent */
	height: 100%;					/* La hauteur de l'image remplit 100% de son parent */
	image-rendering: -webkit-optimize-contrast;
}

/* Image d'entête
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page__content {
	width: 1080px;
	padding-top: 4790px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.7);
	margin-bottom: 400px;
}

#entête {
  position: absolute;
width: 982px;
height: 310px;
left: calc(50% - 982px/2 - 7px);
top: 36px;
image-rendering: -webkit-optimize-contrast;
}

/* Home menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.home__menu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#e141_11 {
	position: absolute;
	top: 49px;
	left: calc(50% - 854px/2 - 29px);
	width: 854px;
	height: 120px;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	position: relative font-family:Abhaya Libre;
	float: left;
	color: black;
	text-align: center;
	letter-spacing: 0;
	font-size: 24px;
	line-height: 35px;
}

nav > ul li:hover .sous {
	display: block;
	max-height: 13rem;
	transition: all .6s ease-out;
	transition-delay: 0; /* Pas de délai à l'ouverture du menu */
	z-index: 1000;

}

nav ul::after {
	display: table;
	clear: both;
	content: "";
}

nav a {
	display: inline-block;
	padding: 10px 20px;
	border-bottom: 2px solid transparent;
	color: white;
	text-decoration: none;
}

nav a:hover {
	border-bottom: 2px solid gold;
	color: orange;
}

.sous {
	position: absolute;
	overflow: hidden;
	max-height: 0;
	padding: 0;
	border-radius: 0 0 8px 8px;
	background-color: white;
	box-shadow: 0 1px 2px #ccc;
	transition: all .6s ease-out;
	transition-delay: 0s; /* Délai avant refermeture du menu */
}

.sous li {
	float: none;
	width: 100%;
	text-align: left;
}

.sous a {
	padding: 10px;
	border-bottom: none;
	color: black;
	white-space: nowrap;
	margin: 0 15px;
}

.sous a:hover {
	border-bottom: none;
	background-color: #8ecaec;
}

.deroulant>a::after {
	color: #64bced;
	content: " ▼";
	font-size: 12px;
}

.rectangle {
	border: 1px solid #fff;
	background: rgba(0, 0, 0, .7);
	margin: 0 25px 25px 25px;
}

.rectangle:hover {
	background: #5cd549;
}

.rectangle--active {
	background: rgba(8, 33, 123, .7);
}

#titreextension {
  position: absolute;
width: 507px;
height: 38px;
top: 340px;
left: calc(50% - 281px/2 - 455px);
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
}

#HOS {
  position: absolute;
width: 596px;
height: 80px;
left: calc(50% - 510px/2);
top: 430px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 75px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
justify-content: center;
}

#imagehos {
  position: absolute;
width: 238px;
height: 134px;
left: calc(50% - 238px/2 - 355px);
top: 590px;
image-rendering: -webkit-optimize-contrast;
-webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}
#imagehos:hover {
  -webkit-transform: scale(1.6);
	transform: scale(1.6);
}

#intro1 {
  position: absolute;
width: 721px;
height: 152px;
left: calc(50% - 721px/2 + 150px);
top: 570px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}
#intro2 {
  position: absolute;
width: 1021px;
height: 49px;
left: calc(50% - 238px/2 - 355px);
top: 720px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}

#titrerésumé1 {
  position: absolute;
width: 96px;
height: 35px;
top: 795px;
left: calc(50% - 238px/2 - 360px);
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
}
#résuméhos {
  position: absolute;
  left: calc(50% - 950px/2);
top: 870px;
}

#titremusique1 {
  position: absolute;
width: 158px;
height: 44px;
top: 1220px;
left: calc(50% - 238px/2 - 360px);
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
}
#musique1 {
  position: absolute;
width: 1020px;
height: 626px;
left: calc(50% - 238px/2 - 355px);
top: 1290px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}

#titredoublage1 {
  position: absolute;
width: 108px;
height: 44px;
top: 1940px;
left: calc(50% - 238px/2 - 360px);
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
}
#doublage1 {
  position: absolute;
width: 1004px;
height: 328px;
left: calc(50% - 238px/2 - 355px);
top: 2000px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}

#BAW {
  position: absolute;
width: 596px;
height: 79px;
top: 2370px;
left: calc(50% - 510px/2);
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 75px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}

#imagebaw {
	position: absolute;
width: 284px;
height: 162px;
left: calc(50% - 238px/2 - 355px);
top: 2540px;
image-rendering: -webkit-optimize-contrast;
-webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}
#imagebaw:hover {
	-webkit-transform: scale(1.6);
	transform: scale(1.6);
}

#intro3 {
	position: absolute;
width: 699px;
height: 162px;
left: calc(50% - 721px/2 + 200px);
top: 2520px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}
#intro4 {
	position: absolute;
width: 1016px;
height: 49px;
left: calc(50% - 238px/2 - 355px);
top: 2690px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}

#titrerésumé2 {
	position: absolute;
width: 96px;
height: 35px;
top: 2770px;
left: calc(50% - 238px/2 - 360px);
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
}
#résumébaw {
	position: absolute;
  left: calc(50% - 950px/2);
top: 2850px;
}

#titremusique2 {
	position: absolute;
width: 158px;
height: 44px;
top: 3200px;
left: calc(50% - 238px/2 - 360px);
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
}
#musique2 {
	position: absolute;
width: 1020px;
height: 626px;
left: calc(50% - 238px/2 - 355px);
top: 3270px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}

#titredoublage2 {
	position: absolute;
width: 108px;
height: 44px;
top: 4240px;
left: calc(50% - 238px/2 - 360px);
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
}
#doublage2 {
	position: absolute;
width: 1004px;
height: 328px;
left: calc(50% - 238px/2 - 355px);
top: 4300px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}
